.button {
  top: 1rem;
  position: fixed;
  right: 1.1rem;
  margin: 60px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.burger {
  position: relative;
  width: 2.5em;
  height: 3px;
  background-color: white;
  transition: transform 0.3s;
  z-index: 99;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 2.5em;
  height: 3px;
  background-color: white;
  transition: transform 0.3s, top 0.3s;
}

.burger::before {
  top: -10px;
}
.burger::after {
  top: 10px;
}

.burgerActive {
  transform: rotate(45deg);
  &::before,
  &::after {
    transform: rotate(90deg);
    top: 0;
  }
}

.menu {
  height: 100vh;
  width: 70%;
  background-color: #fabd43;
  position: fixed;
  right: 0;
  top: 0;
  color: white;
  z-index: 98;
  overflow-y: auto;

  .body {
    box-sizing: border-box;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav {
      display: flex;
      flex-direction: column;
      font-size: 40px;
      gap: 12px;
      margin-top: 102px;
      padding-bottom: 18px;

      .header {
        color: #342a2c;
        text-transform: uppercase;
        font-size: 15px;
      }

      a {
        text-decoration: none;
        color: white;
        font-weight: 300;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    gap: 98px;
  }
}
.link {
  position: relative;
  display: flex;
  align-items: center;

  .indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -30px;
  }
}

.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: #fabd43;
  stroke: none;
  z-index: 98;
}

.overlayActive::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 90;
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.button,
.burger {
  z-index: 99;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 1024px) {
  .burger {
    height: 4px;
  }

  .burger::before,
  .burger::after {
    height: 4px;
  }
}
